@use "./variables.scss" as *;

.embla {
  margin-top: 30px;
  overflow: hidden;
  width: 100%;
  @media screen and (min-width: 500px) {
    margin-top: 50px;
  }
  .embla__container {
    display: flex;
    width: 100%;
    gap: 25px;
    height: 240px;
    align-items: center;
    z-index: 1;
    position: relative;
    .embla__slide {
      min-width: 0;
      flex: 1 0 70%;
      display: flex;
      flex-direction: column;
      gap: 25px;
      border-radius: 40px;
      max-height: 170px;
      max-width: 299px;

      @media screen and (min-width: 500px) and (max-width: $bp-mobile) {
        flex: 1 0 50%;
      }
      @media screen and (min-width: $bp-mobile) {
        flex: 1 0 25%;
        min-width: 299px;
      }

      .horizontal-line {
        width: 35%;
      }

      .trip-card-cities {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        width: 100%;
        .city {
          font-weight: 700;
          font-size: $font-size-text-desk;
        }
      }
      .trip-card-bottom {
        @media screen and (min-width: $bp-mobile) {
          justify-content: center;
          gap: 44px;
        }
        .trip-price {
          p {
            display: flex;
            flex-direction: column;
            font-size: $font-size-text-desk;
            span {
              font-size: $font-size-title-mobile;
              font-weight: 600;
              font-family: $font-family-secondary;
            }
          }
        }
        .trip-booking {
          background-color: #ffffff;
          border: none;
          border-radius: 50px;
          padding: 8px 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          cursor: pointer;
          &:hover {
            box-shadow: 0 0px 10px rgba(0, 0, 0, 0.252);
          }
          @media screen and (min-width: $bp-mobile) {
            padding: 10px 25px;
            width: 180px;
          }
        }
      }
    }
  }
}
