@import "../styles/root.scss";

.modalContainer {
   background: rgba(158, 158, 158, 0.9);
   border-radius: 30px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(20px);
   max-width: 400px;
   width: 90%;
   position: absolute;
   top: 500%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 2em 4em;
   z-index: 9999;
   .modalContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      .close-btn {
         cursor: pointer;
         align-self: flex-end;
      }
      h1 {
         margin-bottom: 1.5rem;
         font-size: clamp(1.3rem, 3vw, 2.3rem);
      }
      .login-form {
         width: 100%;
         label {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            align-items: start;
            input {
               background-color: #f7f7f7;
               border-radius: 30px;
               padding: 10px;
               border: none;
               outline: none;
               width: 100%;
            }
         }
      }
      .links {
         a {
            display: block;
            text-decoration: none;
            color: #000;
            font-size: 0.85rem;
            &:visited,
            &:active {
               color: #000;
            }
            &:hover {
               opacity: 0.7;
            }
            &:first-child {
               margin-bottom: 5px;
            }
         }
      }
      .submit-container {
         margin-top: 1em;
         button {
            margin: 2em auto 0;
            padding: 12px 30px;
            font-size: 1rem;
            border-radius: 30px;
            background-color: $color-card-green;
            border: none;
            display: flex;
            align-items: center;
            transition: 0.3s ease;
            cursor: pointer;
            &:hover {
               background-color: $color-card-red;
            }
         }
      }
   }
}
