@import "../styles/root.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap");

$colors: $color-card-green, $color-card-red, $color-card-blue, $color-card-yellow;
$primary-color-bg: #f8f4ee;
$font-family: Poppins, sans-serif;

// General body and font settings
* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

body {
  background-color: $primary-color-bg;
}

.carpool-list-container {
  margin-top: 30px; // Moves the div down
  display: flex;
  flex-direction: column;
  align-items: center; // Center items horizontally
  padding: 20px;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.carpool-item {
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  transition: all 0.3s ease;

  // Automatic background color rotation
  @for $i from 1 through length($colors) {
    &:nth-child(#{$i}) {
      background-color: nth($colors, $i);
    }
  }

  &:hover {
    background-color: lighten($color-card-yellow, 10%); // Lighter yellow on hover
    border-color: #888;
  }

  .carpool-header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
  }

  .info-container {
    display: flex;
    justify-content: space-between; // Align departure and arrival to each side
    align-items: center;
    width: 50%;
  }

  .departure-info,
  .arrival-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;

    span {
      font-size: 18px;
      font-weight: 500;
    }
  }

  .duration {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensures full width */
    gap: 10px; /* Adds spacing between the lines and time */
    font-weight: 500;
    font-size: 15px;
    color: #444;
  }
  
  .time {
    align-self: flex-start; /* Aligns the time to the top */
    margin: 0; /* Remove any margin that could push it down */
    padding: 0; /* Remove any padding */
  }

  .line {
    flex-grow: 1; /* Makes lines flexible to take available space */
    height: 1px;
    background-color: #444; /* Darker gray for better visibility */
    max-width: 40px; /* Limits the length of the line */
  }  

  .city {
    font-size: 13px !important;
    font-weight: 200 !important;
  }

  .circle {
    width: 10px; /* Size of the circle */
    height: 10px; /* Size of the circle */
    border-radius: 50%; /* Makes it circular */
    background-color: #949191; /* Color of the circle */
  }

 /* .departure-info {
    color: $color-card-red;
  }

  .arrival-info {
    color: $color-card-blue;
  }
*/
  .carpool-details {
    font-size: 16px;
    margin-top: 10px;
  }
}
