@use "./variables.scss" as *;

.price-container {
  margin-top: 5%;
  width: 100%;
  .price-box {
    background-color: $color-card-green;
    padding: 10px 20px;
    border-radius: $main-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0 10px 3px -3px #cfccc9;

    .price-selector {
      display: flex;
      .price-input-wrapper {
        position: relative;
        .price-value-input {
          width: 2em;
          text-align: center;
          font-size: 2.5rem;
          font-weight: 700;
          background: transparent;
          border: none;
          color: #fff;
          outline: none;
          padding-right: 0.8em;
        }
        .price-value-input::-webkit-outer-spin-button,
        .price-value-input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        .euro-symbol {
          position: absolute;
          right: 6px;
          top: 50%;
          transform: translateY(-50%);
          color: #fff;
          font-size: 2.5rem;
          font-weight: 700;
          pointer-events: none;
        }
      }
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0.5rem;
      display: flex;
      align-items: center;
    }

    svg {
      padding-left: 1em;
      padding-right: 1em;
    }

    b {
      font-weight: 900;
    }
    .separator {
      width: 16em;
      height: 2px;
      background-color: white;
    }

    .price-info {
      margin-top: 1rem;
      text-align: center;
      max-width: 320px;
      text-align: start;

      .tip {
        margin-top: 0.5rem;
      }
    }
  }
}
