@use "./variables.scss" as *;

.principal-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 16px;
  font-family: $font-family;
  margin-top: 20px;
  width: 100%;
  
  @media screen and (min-width: 885px) {
    margin: 0 auto;
    max-width: 1200px;
  }
}

.second-profile-container {
  padding: 30px;
  font-family: $font-family;
  background-color: $color-card-red;
  border-radius: 30px;
  width: 100%;
  max-width: 800px;
}

.second-profile-container > h1 {
  font-size: $font-size-title-mobile;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media screen and (min-width: $bp-mobile) {
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
  }
}

.separator {
  border-top: 1px solid black;
  margin-top: 15px;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin-bottom: 15px;
}

.avatar-user {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin-top: 20px;
}

.sous-infos {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.edit-icon {
  cursor: pointer;
  color: white;
}

.vehicle-section {
  margin-top: 20px;
  text-align: center;

  h3 {
    font-size: 16px;
    margin: 30px 0px 15px 0px;
  }
}

.car-info-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;

  p {
    margin: 0;
  }

  button {
    margin: 0;
  }

  @media screen and (min-width: 885px) {
    flex-direction: row;
    margin-top: 0.5em;
  }
}

.vehicle-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;

  @media screen and (min-width: 885px) {
    flex-direction: column;
    gap: 15px;
  }

  p {
    margin: 5px 0;
  }
}

.edit-vehicle-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
  flex-wrap: wrap;

  select {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
  }

  @media screen and (max-width: 884px) {
    flex-direction: column;

    select {
      margin: 0 auto;
    }
  }
}

.validate-btn {
  background-color: $color-card-yellow;
  border: none;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
}
