@use "./variables.scss" as *;

.publish-route {
  padding: 0 24px;
  font-family: $font-family;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    @include main-title;
  }

  .search-bar {
    width: 100%;
    max-width: 100%;
  }
  
  @media (min-width: 992px) {
    .kilometer {
      align-self: flex-start;
    }
  }
  @media (max-width: $bp-mobile) {
    padding: 16px;
    max-width: 100%;
    h2 {
      font-size: $font-size-title-mobile;
    }
  }
}