@use "./variables.scss" as *;

.publish-route {
  padding: 0 24px;
  font-family: $font-family;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
  }

  h2 {
    font-size: 18px;
    font-weight: bold;
  }

  @media (max-width: $bp-mobile) {
    padding: 16px;
    h2 {
      font-size: $font-size-title-mobile;
    }
  }
}
