@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap");

$bp-mobile: 885px; //to include galaxy fold and tablets
$bp-desktop-large: 1220px; //to adapt to larger screen

$primary-color-bg: #f8f4ee;
$color-card-green: #bcc6ad;
$color-card-red: #eba095;
$color-card-blue: #a7b6c2;
$color-card-yellow: #f9eac3;
$color-search: #666666;

///////FONT///////
$font-family: Popins, sans-serif;
$font-family-secondary: Manjari, sans-serif;
//desktop
$font-size-title-desk: 48px;
$font-size-text-desk: 20px;
$font-size-search-desk: 20px;
$font-size-card-desk: 32px;

//mobile
$font-size-title-mobile: 24px;
$font-size-text-mobile: 14px;
$font-size-search-mobile: 16px;
$font-size-card-mobile: 20px;

* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}
body {
  background-color: $primary-color-bg;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1900px;
  align-items: center;

  .page-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    @media screen and (min-width: $bp-mobile) {
      width: 70%;
      align-items: normal;
    }
  }
}
.submit-button {
  margin-top: 2rem;
  background-color: $color-card-green;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 999px;
  width: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
  }
}
.dropdown {
  position: relative;
  .dropdown-toggle {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: $font-family;
    font-size: $font-size-search-mobile;
    font-weight: 300;
    width: max-content;
    display: flex;
    gap: 3px;
  }
  .dropdown-menu {
    position: absolute;
    top: 35px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    backdrop-filter: blur(3px) !important;
    padding: 10px 2px;
    background-color: rgba(185, 155, 110, 0.6);

    border-radius: 0 0 0px 15px;
    width: auto;
    height: auto;

    .dropdown-item {
      text-decoration: none;
      font-weight: 300;
      color: #000000;
      padding: 15px 0;
      &:hover {
        &:after {
          content: "";
          display: block;
          position: absolute;
          margin-top: 15px;
          width: 100%;
          height: 1px;
          background: rgba(0, 0, 0, 0.3);
          transition: width 0.3s;
        }
      }
    }
    .absolute {
      &:after {
        position: absolute;
      }
    }
  }
}

.bg-default,
.btn-default {
  background-color: $color-card-red;
}
.bg-blue,
.btn-blue {
  background-color: $color-card-blue !important;
}
.bg-green,
.btn-green {
  background-color: $color-card-green !important;
}
.bg-blue,
.btn-blue {
  background-color: $color-card-blue !important;
}
.bg-yellow,
.btn-yellow {
  background-color: $color-card-yellow !important;
}
.bg-red,
.btn-red {
  background-color: $color-card-red !important;
}

h1 {
  margin-bottom: 40px !important;
}
