@use "./variables.scss" as *;

* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}
html,
body {
  height: 100%;
}
body {
  background-color: $primary-color-bg;
}
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1900px;
    align-items: center;
    margin: 0 auto;
    .page-wrapper {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 35px;
      align-items: center;
      margin-top: 35px;
      @media screen and (min-width: $bp-mobile) {
        width: 70%;
        align-items: normal;
      }
    }
  }
}
a {
  text-decoration: none;
}
h1 {
  margin-bottom: 40px !important;
  font-size: $font-size-h1;
}

.submit-button {
  margin-top: 2rem;
  background-color: $color-card-green;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 999px;
  min-width: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
  }
}

.bg-default,
.btn-default {
  background-color: $color-card-red;
}
.bg-blue,
.btn-blue {
  background-color: $color-card-blue !important;
}
.bg-green,
.btn-green {
  background-color: $color-card-green !important;
}
.bg-blue,
.btn-blue {
  background-color: $color-card-blue !important;
}
.bg-yellow,
.btn-yellow {
  background-color: $color-card-yellow !important;
}
.bg-red,
.btn-red {
  background-color: $color-card-red !important;
}