@import "./root.scss";

img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 0.5rem;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
