@use "./variables.scss" as *;

@keyframes moveUp {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-5px);
	}

	100% {
		transform: translateY(0);
	}
}

.search-bar {
	padding: 16px 8px;
	background-color: #d8d8d3;
	border-radius: $main-radius;
	box-shadow: $box-shadow;
	align-items: center;

	.search-wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;

		.input-container {
			input, select, .react-datepicker__input-container input {
				font-size: clamp(1rem, 2.5vw, 1.25rem);
			}
			display: flex;
			align-items: center;
			padding: 8px 12px;
			gap: 8px;
			flex: 1;

			&:not(:last-child) {
				border-right: solid 1px #000;
			}

			.input-city {
				background-color: #d8d8d3;
				padding: 0.5rem;
				border: none;
				outline: none;
				width: 100%;

				&:hover,
				&:focus {
					background: rgba($color-search, 20%);
				}
			}
			#passenger-select {
				cursor: pointer;
			}
			
			.react-datepicker__input-container input {
				border: none;
				outline: none;
				background-color: transparent;
				width: 100%;
				cursor: pointer;
				flex: 1;
				.datepicker-input {
					width: 100%;
					min-width: 0;
					flex: 1;
				}
			}

			&.button-container {
				justify-content: center;

				.search-button {
					background-color: transparent;
					border: none;
					cursor: pointer;
					animation: moveUp 1s ease-in-out infinite;
				}
			}
		}
	}
	.icon {
		color: $color-card-red;
		flex-shrink: 0;
	}

	select {
		border: none;
		outline: none;
		background-color: transparent;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.layout .main-content .page-wrapper {
		width: 90%;
	}
}
@media (max-width: 992px) {
	.search-bar {
		.search-wrapper {
			flex-direction: column;
			.input-container {
				&:not(:last-child) {
					border-right: none;
					margin-bottom: 1em;
				}
				input {
					width: 100%;
				}
			}
		}
	}
}