@use "./variables.scss" as *;

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
  flex: 0 0 60%;
  @media (max-width: 992px) {
    flex: 0 0 100%;
    max-width: 100%;
    .card-button:first-child {
      margin-top: 1.5em;
    }
  }
  .card-button {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 1.5em;
    }
  }
}
