@use "./variables.scss" as *;

.search-route {
  font-family: $font-family;
  color: $text;
  h1 {
    @include main-title;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
    padding: 25px;
  }
}
.result-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: $bp-mobile) {
  .search-route {
    h2 {
      font-size: $font-size-title-mobile;
    }
  }
  .result-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;
  }
}
