@import "../styles/root.scss";

.trip-card,
.passengers-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15px 25px;
  gap: 10px;
  min-height: 190px;
  justify-content: center;

  p {
    font-family: $font-family-secondary;
  }
  .trip-card-header {
    display: flex;
    flex-direction: column-reverse;
    @media screen and (min-width: $bp-mobile) {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 30px 15px;
    }
    .trip-card-infos-left {
      display: flex;
      flex-direction: column;
      gap: 5px;
      @media screen and (min-width: $bp-mobile) {
        flex-grow: 0.3;
      }
      .trip-card-trip-duration {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        position: relative;
        .time,
        .duration {
          font-family: $font-family-secondary;
        }
        .time {
          font-size: $font-size-card-mobile;
        }

        .duration {
          font-size: 15px;
        }

        .horizontal-line.small.departure {
          &:not(:last-child) {
            &:before {
              content: "";
              width: 10px;
              height: 10px;
              background-color: white;
              border-radius: 50%;
              position: absolute;
              top: 5.5px;
              border: 1px solid rgba(0, 0, 0, 0.7);
            }
          }
        }

        .horizontal-line.small.arrival {
          position: relative;
          &:not(:last-child) {
            &:after {
              content: "";
              width: 10px;
              height: 10px;
              background-color: white;
              border-radius: 50%;
              position: absolute;
              top: -5px;
              right: 0px;
              border: 1px solid rgba(0, 0, 0, 0.7);
            }
          }
        }
      }
      .trip-card-cities {
        display: flex;
        justify-content: space-between;

        .city {
          font-family: $font-family-secondary;
          font-size: $font-size-search-mobile;
          font-weight: 300;
        }
      }
    }
    .trip-card-infos-right {
      display: flex;
      justify-content: space-between;
      padding-bottom: 5px;
      align-items: center;
      @media screen and (min-width: $bp-mobile) {
        gap: 25px;
        margin-top: -25px;
      }
      .date {
        font-weight: 500;
      }
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        &:hover {
          transform: scale(1.05);
          transition: transform 0.2s;
        }
        @media screen and (min-width: $bp-mobile) {
          border-radius: 10px;
          min-width: 60px;
          padding: 7px 15px;
          font-weight: 600;
        }
      }
    }
  }
  .trip-card-bottom {
    display: flex;
    justify-content: space-between;
    height: auto;
    min-height: 50px;
    align-items: center;
    @media screen and (min-width: $bp-mobile) {
      padding-top: 15px;
    }

    .trip-bottom-left {
      display: flex;
      flex-direction: column;
      gap: 7px;
      @media screen and (min-width: $bp-mobile) {
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-evenly;
      }

      .trip-road {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }
    .trip-right {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
      justify-content: center;
      @media screen and (min-width: $bp-mobile) {
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-evenly;
        align-items: center;
      }
      .trip-passengers {
        display: flex;
        gap: 10px;
        padding-right: 15px;
        align-items: center;
        @media screen and (min-width: $bp-mobile) {
          padding-right: 0;
        }
      }
      .trip-price {
        display: flex;
        align-items: center;
        gap: 10px;
        p {
          font-size: $font-size-card-desk;
        }
        .animated {
          animation: moveUp 1s ease-in-out infinite;
        }
      }
    }
  }
}
.trip-user {
  display: flex;
  align-items: center;
  gap: 10px;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}
.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

.vertical-line {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0;
  display: none;
  @media screen and (min-width: $bp-mobile) {
    display: block;
    height: 50px;
  }
}
.card-button {
  cursor: pointer;
  width: auto;
  min-width: 110%;
  border: none;
  display: flex;

  @media screen and (min-width: $bp-mobile) {
    min-width: 105%;
    &:hover {
      transform: scale(1.05);
      transition: transform 0.2s;
    }
  }
  .horizontal-line.small.departure {
    &:not(:last-child) {
      &:before {
        left: 50px;
      }
    }
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
