@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap");

$bp-mobile: 885px; //to include galaxy fold and tablets
$bp-desktop-large: 1220px; //to adapt to larger screen

$primary-color-bg: #f8f4ee;
$color-card-green: #bcc6ad;
$color-card-red: #eba095;
$color-card-blue: #a7b6c2;
$color-card-yellow: #f9eac3;
$color-search: #666666;
$summary-color: #f1eae0;
$text: #2a2a2a;

///////FONT///////
$font-family: Popins, sans-serif;
$font-family-secondary: Manjari, sans-serif;
//desktop
$font-size-huge: 48px;
$font-size-text-desk: 20px;
$font-size-big-text: 32px;

$font-size-h1: clamp(1.8rem, 5vw, 3rem);

//mobile
$font-size-title-mobile: 24px;
$font-size-small-text: 15px;
$font-size-normal-text: 16px;

// MIXIN
@mixin main-title {
   text-align: center;
   font-weight: 800;
   font-size: $font-size-h1;
   font-family: $font-family;
   color: $text;
   margin-bottom: 1em;
}